<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>后台管理</title>
</head>
<script type="text/javascript" src="/javascripts/admin.js"></script>
<body>

    <ul>
        <li id="find" onclick=showFindForm()>查找用户</li>
        <li id="insert" onclick=showInsertForm()>添加用户</li>
    </ul>
    <br />

    <form id="findForm" action="/api/get/user_info" method="get">
        <input name="user_name" placeholder="请输入患者的姓名" />
        <button>查找按钮</button>
    </form>
    <div id="userInfo">
        <% if (statusCode == '200') {%>
            <% if (userName.length > 0) {%>
                <p class="info">user_name: <%= userName %></p>
            <% } %>
            <% if (gender.length > 0) {%>
                <p class="info">gender: <%= gender %></p>
            <% } %>
            <% if (disease.length > 0) {%>
                <p class="info">disease: <%= disease %></p>
            <% } %>
        <% } else {%>
            <p class="info">未查找到！</p>
        <% } %>
    </div>

    <form id="insertForm" action="/api/post/user_info" method="post">
        <div>
            <span>姓名：</span><input name="user_name" />
        </div>
        <div>
            <span>性别：</span><input name="gender" />
        </div>
        <div>
            <span>所患疾病：</span><input name="disease" />
        </div>
        <button>添加按钮</button>
    </form>

</body>
</html>