<ul class="qotes">
    <% for(var i=0; i<submit.length; i++) {%>
        <li class="quote">
            <span><%= submit[i].name %></span>
            <span><%= submit[i].quote %></span>
        </li>
    <% } %>
</ul>